* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
  font-weight: 500;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #ececec;

}

.container {
  margin: auto;
  max-width: 712px;
  padding: 0 2rem;
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
}

button {
  transition: .6s;
}

button:hover {
  background-color: #333;
  color: #eee;
}

h1 {
  margin-bottom: 1rem;
}

form .box {
  position: relative;
}

form input {
  height: 4rem;
  width: 100%;
  border-radius: .2rem;
  padding: 0 10rem 0 1rem;
}

form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 4rem;
  width: 8rem;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: .4rem;
  transition: .4s;
  background-color: #eee;
}

form button:active {
  background-color: #999;
  color: #fff;
}

.list-tasks {
  margin-top: 2rem;
}

.list-tasks .task {
  background-color: #fff;
  display: flex;
  height: 3.6rem;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  margin-top: .4rem;
  transition: .4s;
  overflow-y: hidden;
  border-radius: .2rem;
}

.list-tasks .task.done {
  background-color: hsl(120, 50%, 75%);
  transition: .4s;
  text-decoration: line-through;
}

.list-tasks .task p {
  word-break: keep-all;
  width: 100%;
  height: 3rem;
  word-wrap: break-word;
  overflow-x: hidden;
  line-height: 3rem;
  font-size: 1.4rem;
  color: #333;
  padding-right: 4.6rem;
}

.task button {
  position: absolute;
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: .2rem;
}

.taks button:hover {
  opacity: .1;
}

.task .btn-done {
  right: 3.6rem;
}

.task .btn-delete {
  right: 0.2rem;
}

.task.delected {
  margin-top: 0rem;
  transition: .8s;
  height: 0rem;
  opacity: 0;
}